.contenedor-productos {
  margin: 195px 40px 50px;
}

.contenedor-productos img {
  transition: transform 0.3s ease-in-out;
}

.contenedor-productos img:hover {
  transform: scale(1.1);
}

.producto {
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
}

.contenido-producto {
  box-shadow: 0 0 20px rgb(233, 9, 9);
  width: 330px;
}

.descripcion-producto {
  display: flex;
  background-color: #1a181896;
  justify-content: space-evenly;
}

.descripcion-producto a {
  text-decoration: none;
}

.titulo {
  font-size: 10px;
}

.imagenes-ultimas-visitas {
  height: 340px;
}

.imagenes-ultimas-visitas img {
  width: 100%;
  height: 100%;
}

.precio,
.nombre p {
  font-size: 50px;
  /* Ajusta el tamaño de la fuente según tus necesidades */
  color: #fff;
}

/* Estilos para el menú en pantallas de móviles */

@media (min-width: 680px) {
  .contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 230px 20px 50px;
  }

  .contenido-producto{
    width: 280px;
  }
}

@media (min-width: 780px) {
  .contenedor-productos{
    margin: 230px 10px 50px;
  }
}