*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rethink Sans', sans-serif;
  background-image: url('/img/fondo-login.png');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura del contenedor según tus necesidades */
    float: right;
  }
  
  .iniciar-sesion {
    background-color: skyblue;
    height: 30px;
    width: 180px;
    text-decoration: none; /* Quitamos el subrayado del enlace */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border: 0;
    outline: none;
    font-size: 1rem;
  }
  .buttonmail {
    width: 120px;
    height: 50px;
    background-color: red;
    color: black;
    border-radius: 5px;
  }
  
  .contra {
    height: 40px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .buttonface {
    width: 120px;
    height: 50px;
    background-color: steelblue;
    color: black;
    border-radius: 5px;
  }

  .texto{
    color: rgb(255, 255, 255);
  }
  h1{
    color: rgb(255, 255, 255);
  }
  p{
    color: aliceblue;
  }

  input {
    border-radius: 20px;
    
  }
 
  form {
    display: block;
   text-align: center;
   width: auto;
   justify-content: center;
   height: auto;
   font-family: 'Rethink Sans', sans-serif;
  }

  .form-contacto {
    background-color: rgb(1, 1, 90);
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px;
    padding: 30px;
    border-radius: 10px;
  }
  
  .reg-title {
    text-align: center;
  }

  .enviar {
    margin-top: 10px;
  }

  label {
    display: inline-block;
  }



  @media screen and (max-width: 767px) {
    .form-contacto {
      width: 100vw;
    }
  }

  @media screen and (max-width: 320px) {
    .form-contacto {
      width: 350px;
    }
  }

  @media screen and (min-width: 767px) and (max-width: 1023px) {
    .form-contacto {
      position: relative;
      left: 25vw;
    }
  }
 
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .form-contacto {
      position: relative;
      left: 31vw;
    }
  }

  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    .form-contacto {
      position: relative;
      left: 36vw;
    }
  }

  .buttonface, .buttonmail {
    display: none;
  }

   p {   
    display: flex;
    justify-content: center;
    margin-top: 2%;
  }

  .reg-title {
    margin-top: 1%;
    margin-bottom: 1%;
  }
