*  {
  box-sizing: border-box;
}
body {
  font-family: 'Rethink Sans', sans-serif;
  background-color: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura del contenedor según tus necesidades */
    float: right;
  }
  
  .iniciar-sesion {
    background-color: skyblue;
    height: 30px;
    width: 180px;
    text-decoration: none; /* Quitamos el subrayado del enlace */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 350px;
    padding: 10px;
    padding-right: 35px;
    border: 0;
    outline: none;
    font-size: 1rem;
  }
  .buttonmail {
    width: 120px;
    height: 50px;
    background-color: red;
    color: black;
    border-radius: 5px;
  }
  
  .contra {
    height: 40px;
    width: 110px;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .buttonface {
    width: 120px;
    height: 50px;
    background-color: steelblue;
    color: black;
    border-radius: 5px;
  }

  .texto{
    color: rgb(255, 255, 255);
  }
  h1{
    color: rgb(255, 255, 255);
  }
  p{
    color: aliceblue;
  }

  input {
    border-radius: 20px;
    
  }
 
  form {
    display: block;
   text-align: center;
   width: 500px;
   border: 1px solid black;
   justify-content: center;
  }

  .form-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reg-title {
    text-align: center;
  }

  .enviar {
    margin-top: 10px;
  }
