<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/iniciarSesion.css">
    <title>炎Iniciar Sesión炎</title>
    <link rel="shortcut icon" href="/img/logo-tienda.png">
</head>

<body>
    <main>
        <header>
            <a href="/">
                <img class="logo" src="img/favicon.png" alt="Logo">
                <h1>Bienvenido a 炎 CheapGames 炎</h1>
            </a>
        </header>

        <form  action="/inicioDeSesion" method="POST">
            <div>
                <h2>E-mail</h2>
                <input class="email" type="email" name="correo" id="correo" placeholder="Ingrese su email" >
                    <% if (locals.errors && errors.correo) { %>
                        <div class="text-danger">
                            <%= errors.correo.msg %>
                        </div>
                    <% } %>
                        <h2>Contraseña</h2>
                        <input class="password" type="password" name="contrasena" id="contrasena"
                            placeholder="Ingrese su contraseña">
                        <div class="caja1">
                            <div class="recordar">
                                <label for="recordar">recordar</label>
                                <input type="checkbox" name="recordar">
                            </div>
                            <a href="/recuperarContraseña">Olvidé mi contraseña</a>
                        </div>
                        <button class="iniciar-sesion" type="submit">Iniciar Sesión</button>
            </div>

            <div>

                <img class="icon" src="img/facebook-icon.png" alt="facebook">
                <button class="facebook" type="button">Continuar con facebook</button>
                <img class="icon" src="img/gmail-icon.png" alt="gmail">
                <button class="gmail" type="submit">Continuar con gmail</button>
            </div>
        </form>


        <footer>
            <span>¿No tienes una cuenta? →</span>
            <a href="/register">Registrate</a>

  
        </footer>
    </main>
</body>

</html>