<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">

</html>
<header>
    <div class="header">
        <div class="top-navbar">
            <a href="/" class="logo-link">
                <img class="logo" src="/img/favicon.png" alt="logo-tienda">
            </a>

            <!-- barra de búsquedas -->
            <div class="search-container">
                <div class="search-navbar">
                    <input type="text" placeholder="Buscar juegos">
                    <button class="btn-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <div class="usuario">
                    <ul>
                        <% if (locals.isLogged) { %>
                            <li class="btn-logo">
                                <a href="/user">
                                    <img src="/img/imagenes-usuarios/<%= locals.userLogged.imgPerfil %>"
                                        alt="logo-usuario">
                                </a>

                                </p>
                            </li>

                            <% } else { %>
                                <li><a href="/inicioDeSesion">Iniciar Sesion</a></li>
                                <li><a href="/register">¡Registrate!</a></li>

                                <% } %>
                    </ul>


                </div>
            </div>
        </div>

        <!-- menu de opciones -->

        <nav class="menu">
            <ul class="menu-opciones">
                <li><a href="/">INICIO</a></li>
                <li><a href="/biblioteca">BIBLIOTECA</a></li>
                <li><a href="/listaDeDeseos">LISTA DE DESEOS</a></li>
                <li><a href="/carrito">CARRITO</a></li>
                <li><a href="/crear">AGREGAR UN PRODUCTO</a></li>
            </ul>
        </nav>
    </div>


</header>